<% if (isLoggedIn) { %>
    <%- include("templates/header") %>
<% } else { %>
    <%- include("templates/header-beforeLogin") %>
<% } %>
<div class="d-flex align-items-center justify-content-center vh-100 wrapper">
    <div class="text-center">
        <h1 class="display-1 fw-bold">404</h1>
        <p class="fs-3"> <span class="text-danger">Opps!</span> Page not found.</p>
        <p class="lead">
            The page you’re looking for doesn’t exist.
        </p>
        <p>
            <a class="link" href="javascript:window.history.go(-1);">Go back</a>
        </p>
    </div>
</div>
<%- include("templates/footer") %> 
