<%- include("templates/header") %>
<div class="form-wrapper signin">
    <div class="container">
      <main class="form-signin w-100 m-auto">
          <form action='/change-password-submit' method='post' class="needs-validation" novalidate>
              <h1 class="h3 fw-normal">Edit Profile</h1>

              <div class="form-floating">
                  <input name="password1" type="password" class="form-control" id="password1" placeholder="Password" required>
                  <label for="password1">Password</label>
                  <div class="invalid-feedback">
                      Please enter a password
                  </div>
              </div>

              <div class="form-floating">
                  <input name="password2" type="password" class="form-control" id="password2" placeholder="Confirm Password" required>
                  <label for="password2">Confirm Password</label>
                  <div class="invalid-feedback">
                      Please confirm your password
                  </div>w
              </div>

              <div class="sign-btns-container">
                <button class="w-100 btn btn-lg btn-primary" type="submit">Save</button>
              </div>
          </form>
      </main>
  </div>
</div>

<script>
  const password1 = document.getElementById('password1');
  const password2 = document.getElementById('password2');

  password2.addEventListener('input', () => {
    if (password1.value !== password2.value) {
      password2.setCustomValidity('Passwords must match.');
    } else {
      password2.setCustomValidity('');
    }
  });

  const form = document.querySelector('.needs-validation');

  form.addEventListener('submit', (event) => {
    if (!form.checkValidity()) {
      event.preventDefault();
      event.stopPropagation();
    }

    form.classList.add('was-validated');
  });

</script>

<%- include("templates/footer") %>
