<p>hello, it's me 😎</p>

<div class="d-flex justify-content-end">
    <div class="dropdown">
      <button class="btn btn-reset btn-setting" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
        <img src="/image/setting.png" alt="Setting"/>
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" href="#">Edit profile</a>
        <a class="dropdown-item" href="#">Change password</a>
        <a class="dropdown-item" href="/logout">Log out</a>
      </div>
    </div>
  </div>

