<link rel="stylesheet" href="/css/edit-review.css">
<div class="setting">
    <div class="dropdown">
        <button class="edit-button" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown"
            aria-expanded="false">
            <img src="/image/setting.png" alt="Setting" />
        </button>
       
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item edit-review-link" href="#" data-review-id="<%= review._id.toString() %>">Edit this review</a>
            <a class="dropdown-item" href="#">Delete this review</a>
        </div>
    </div>
</div>


<script>
$(document).ready(function() {
  $(document).on('click', '.edit-review-link', function(e) {
    e.preventDefault();
    
    const reviewId = $(this).data('review-id');
    
    // Redirect to the edit review page with the review ID
    window.location.href = '/reviews/write/updateReview/' + reviewId;
  });
});

</script>


