<link rel="stylesheet" href="/css/edit-review.css">

<div class="setting">
    <div class="dropdown">
        <button class="edit-button" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown"
            aria-expanded="false">
            <img src="/image/setting.png" alt="Setting" />
        </button>
        <!-- <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="#">Edit this review</a>
            <a class="dropdown-item" href="#">Delete this review</a>
        </div> -->
    </div>
</div>