<% if (isLoggedIn) { %>
  <%- include("templates/header") %>
<% } else { %>
  <%- include("templates/header-beforeLogin") %>
<% } %>
<div class="row justify-content-center">
    <div class="col-sm-8">
      <form action="/searchSubmit" method="post" class="form-inline my-2 my-lg-0 d-flex justify-content-center">
        <div class="form-group mx-2 mb-2" style="width:300px;">
            <input name="courseSearch" type="text" class="form-control" id="courseSearch" placeholder="Search courses">
        </div>
        <button type="submit" class="btn btn-main-search mb-2">Search</button>
      </form>
    </div>
</div>

<div class="btn-group">

  <div class="filter-btn">
  <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
    Provider
  </button>
  <ul class="dropdown-menu" aria-labelledby="providerDropdown">
    <li><a class="dropdown-item" href="/filter-udemy" >Udemy</a></li>
    <li><a class="dropdown-item" href="/filter-coursera" >Coursera</a></li>
    <li><a class="dropdown-item" href="/filter-allcourses" >All</a></li>
  </ul>
  </div>

  <div class="filter-btn">
  <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
      Level
    </button>
    <ul class="dropdown-menu" >
      <li><a class="dropdown-item" href="#">All Levels</a></li>
      <li><a class="dropdown-item" href="#">Beginner</a></li>
      <li><a class="dropdown-item" href="#">Intermediate</a></li>
      <li><a class="dropdown-item" href="#">Advanced</a></li>
   
    </ul>
  </div>

  <div class="filter-btn">
      <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
          Rating
        </button>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="#">Low to High</a></li>
          <li><a class="dropdown-item" href="#">High to Low</a></li>
      
       
        </ul>
      </div>
</div>



<h2>Your Filtered Results</h2>

<% for(let i=0; i < searchResult.length; i++) { %>
  <% if (searchResult[i].Provider === 'Udemy') { %>
    <%- include('templates/list', {result: searchResult[i]})  %>
  <% } %>
<% } %>


     


<%- include("templates/footer") %>


