<% if (isLoggedIn) { %>
    <%- include("templates/header") %>
<% } else { %>
    <%- include("templates/header-beforeLogin") %>
<% } %>

<div class="text-center">
    <div class="col-lg-6 mx-auto">
        <% if (isLoggedIn) { %>
        
        <% } else { %>
            <div class="p-3">
                <a class="btn btn-main-login btn-lg px-4" href="/login">Login</a>
                <a class="btn btn-primary btn-lg px-4" href="/signup">Sign up</a>
            </div>
        <% } %>
        
        <div class="col-lg-6 mx-auto logo-main-container">
            <img class="w-100" src="/image/coursla_main.png" alt="logo-main"/>
            <!-- <div class="logo-main-background"></div> -->
        </div>
        <div class="row justify-content-center p-2 search-main"> 
            <div class="col-sm-8">
              <form action="/searchSubmit" method="post" class="form-inline my-2 my-lg-0 d-flex justify-content-center">
                <div class="form-group mx-2 mb-2" style="width:300px;">
                    <input name="courseSearch" type="text" class="form-control" id="courseSearch" placeholder="Search courses">
                </div>
                <button type="submit" class="btn btn-main-search mb-2" style="width:100px;">Search</button>
              </form>
            </div>
        </div>

        <% if (isLoggedIn) { %>
            <div class="col-lg-6 mx-auto p-3">
                <h3 class="display-7 fw-bold text-body-emphasis">Welcome to the Coursla Family</h3>    
            </div>
            <img class="w-100" src="/image/ads_main.png" alt=""/>
        <% } else { %>
            <div class="col-lg-6 mx-auto p-3">
                <h1 class="display-5 fw-bold text-body-emphasis">Join the Coursla Family</h1>
                <p>Love Coursla? Let's make it official.</p>    
            </div>
            <img class="w-100" src="/image/ads_main.png" alt=""/>
            <div class="col-lg-6 mx-auto p-2">
                <a class="btn btn-primary btn-lg px-4 gap-3" style="width: 250px;" href="/signup">Sign up now!</a>
            </div>
        <% } %>
    </div>
</div>
<%- include("templates/footer") %>