<%- include("templates/header") %>
<main class="form-wrapper ">
          <form action='/login-submit' method='post'>
              <h1 class="h3 fw-normal">Log in</h1>

              <div class="form-floating">
                  <input name="id" type="id" class="form-control" id="floatingInput" placeholder="ID">
                  <label for="floatingInput">ID</label>
              </div>
              <div class="form-floating">
                  <input name="password" type="password" class="form-control" id="floatingPassword" placeholder="Password">
                  <label for="floatingPassword">Password</label>
              </div>

              <div class="sign-btns-container">
                <button class="w-100 btn btn-lg btn-primary" type="submit">Sign in</button>
              </div>
          </form>

      <span class="hr"></span>
      <p class="link-signup">Don't have an account? <a href="/signup">Sign up</a></p>
  </main>

<%- include("templates/footer") %>
