<%- include('templates/header') %>
<div class="container">
  <div class="col-lg-6 mx-auto p-3">
    <h1 class="display-5 fw-bold text-body-emphasis">Join the Coursla Family</h1>
    <p>Love Coursla? Let's make it official.</p>
    <img style="width: 300px" src="/image/angry.jpg" alt=""/>
</div>
</div>
<%- include("templates/footer") %>