.title-wrapper{
   margin: 3%;
    margin-top: 8%;
    margin-bottom: 4%;
    
    border-top: 1px solid var(--color-divider);
}

.title-wrapper .title {
    margin-top:  40px;
    font-weight: bold;
}

.subtitle {
    font-size: 16px;
}

.overall-rating-wrapper {
    display: grid;
    grid-template-columns: 0.4fr 0.7fr;
    grid-template-rows: repeat(4, 1fr);
    grid-gap: 10px;
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10%;
    padding: 5%;
    height: auto;
    /* width: 90vw; */
    border-radius: 15px;
    border: 1px solid #ccc;
    box-shadow: 0 0px 5px rgba(0, 0, 0, 0.3);
    background-color: #eee;
    overflow: hidden;
    grid-auto-flow: row;
    grid-template-areas:
    "a1 a2"
    "a1  a4"
    "a1  a6"
    "a1  a8";

}


.all-rating {
    grid-area:  a1;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    background-color: white;
    border-radius:10px;
}

.review-1{
    grid-area: a2;
}



.review-2{
    grid-area: a4;
}


.review-3{
    grid-area: a6;
}


.review-4{
    grid-area: a8;
}


.review-1,
.review-2,
.review-3,
.review-4 {
    display: grid;
    grid-template-columns: 0.4fr 1fr;
    grid-gap: 10px;
}

.rating-wrapper .review-category, .overall-rating-wrapper .review-category {
    font-size: 15px;
    text-align: right;
    margin-right: 5%;
    justify-content:center; 
}

.rating-wrapper .review-slider {
    /* font-size: 23px;
    text-align: right;
    font-weight: bold; */
    margin-top: 2%;
    /* margin-right: 5%;
    justify-content:center; */
}
.all-rating {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.all-rating-score {
    margin-bottom: 0.5rem;
}

.all-rating > .label {
    font-size: 15px;
    padding: 2%;
}

.mean {
    font-size: 50px; 
    font-weight: bold;
    padding: 2%;
    color: #6a994e;
}

.divider {
    
    font-size: 2rem; /* Adjust the font size as desired */
    align-self: flex-end;
}

.number-ratings{
    border-top: 1px solid var(--color-divider);
    padding-top: 4%;
    padding-bottom: 2%;
}