.bookmarks-title {
    display: inline-block;
    padding: 5px 20px;
    font-size: 25px;
    border-radius: var(--radius-box);
    background-color: var(--color-parchment);
    margin: 15px 10px;
}

.message-bookmarks {
    margin-left: 20px;
    font-size: 20px;
}

.bookmarks-container {
    padding: 0 20px;
}