

.CourseCard-StyledCourseCard {
    position: relative;
    flex-wrap: wrap;
  display: flex;
  align-items: center;
  padding: 16px;
  border: 1px solid #ccc;
  margin-bottom: 10px;
  max-width: 600px;
  border-radius: 20px;
  box-shadow: 0 0px 5px rgba(0, 0, 0, 0.3);
  transition: border-color 0.3s ease;
}

.CourseCard-StyledCourseCard:hover {
  border-color: green;
}

.filter-btn {
	padding-right: 5px;
	padding-left:5px;
}

.course-results {
	text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;

} 

.CourseCard-Container .Course-Bookmark {
    position: absolute;
    z-index: 2;
    bottom: 10px;
    right: 10px;
    padding: 5px;
    background-color: transparent;
    margin-left: 10px;
    align-self: flex-start;
}

.Course-Bookmark svg path {
    fill:  rgb(198, 198, 198);
}
.Course-Bookmark.bookmarked svg path {
    fill: #BC4749;
    stroke-width: 0%;
}
.Course-Bookmark {
    transition: transform 0.3s ease;
}

.Course-Bookmark.bookmarked:active,
.Course-Bookmark:hover{
  transform: scale(1.2);
}

.Course-Bookmark:active {
  transform: scale(1.2);
}

/* Thumbnail */
.card-info {
    width: 50%;
    padding-left: 10px;
    text-align: left;
    display: flex;
    flex-direction: column;
}
.card-thumbnail {
    width: 50%;
    position: relative;
    overflow: hidden;
    border-radius: 6px;
}
.card-thumbnail img {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.card-thumbnail:before{
    content:'';
    display: block;
    z-index: 2;
    padding-bottom: 60%;
}
.card-thumbnail .logo-provider {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    z-index: 3;
    left: 10px;
    top: 10px;
    width: 34px;
    height: 34px;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: -1px -1px 1px rgba(0,0,0,0.4);
}
.card-thumbnail .logo-provider img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card-info .course-title {
    font-weight: bold;
    margin-bottom: 5px;
}

.card-info > div {
    font-size: 14px;
    margin: 1px 0;
}

.CourseCard-Container {
  margin-left: 10px;
  margin-right: 10px;
  position: relative;
  z-index: 1;
}

.Card-CourseName{
    font-weight: bold;
    width: 100%;
    font-size: 18px !important;
  margin-bottom: 16px !important;
}
.CourseCard-Container:hover .Card-CourseName{
    text-decoration: underline;
}