/* SignUp, SignIn */
.form-wrapper {
    padding: 0 20px;
}
.form-floating {
    margin-bottom: 20px;
}
.form-wrapper h1,
.form-wrapper h2{
    margin-bottom: 30px;
}
.form-wrapper .form-signin-heading {
    margin-top: 20px;
    font-size: 20px;
}
.btn-sign {
    margin-top: 40px;
    max-width: 120px;
}
.sign-btns-container {
    display: flex;
    justify-content: flex-end;
}
.link-signup {
    text-align: center;
}
.link-signup a {
    color: var(--color-primary-green) !important;
}
.link-signup a:hover {
    text-decoration: underline;
}
.profile-summary {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    padding:20px;
    background-color: var(--color-bg-gray);
    border-radius: var(--radius-box);
}
.profile-summary .avatar-img {
    width: 50px;
    height: 50px;
}
.profile-summary .user-id {
    margin-left: 20px;
    font-size: 18px;
    font-weight: bold;
}
.form-indication {
    color: var(--color-primary-green);
    font-size: 0.8em;
}

.avatar-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.avatar-container-inner {
    position: relative;
}
.add-photo {
    position: absolute;
    right: 0;bottom: 0;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    border: 2px solid var(--color-primary-green);
}
.add-photo span{
    display: flex;
}
.add-photo:hover {
    background-color: #eee;
}
.remove-profile {
    margin-top: 5px;
    font-size: 14px;
    color: var(--color-primary-green) !important;
}
.remove-profile:hover{
    text-decoration: underline;
}