/* SignUp, SignIn */
.form-wrapper {
    padding: 0 20px;
}
.form-floating {
    margin-bottom: 20px;
}
.form-wrapper h1,
.form-wrapper h2{
    margin-bottom: 30px;
}
.form-wrapper .form-signin-heading {
    margin-top: 20px;
    font-size: 20px;
}
.btn-sign {
    margin-top: 40px;
    max-width: 120px;
}
.sign-btns-container {
    display: flex;
    justify-content: flex-end;
}
.link-signup {
    text-align: center;
}
.link-signup a {
    color: var(--color-primary-green) !important;
}
.link-signup a:hover {
    text-decoration: underline;
}