.search-main{
    background-color: rgba(242, 232, 207, 0.5); /*#F2E8CF*/
}

/* .logo-main-container{
    position: relative;
}

.logo-main-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(242, 232, 207, 0.5);
} */