
.searchbox-main {
    background-color: rgba(242, 232, 207, 1); /*#F2E8CF*/
    padding: 10px;
    padding-bottom: 60px;
    padding-top: 25px;
}

/* #courseSearch {
  border-radius: 30px;
} */


.logo-main-container {
    background-color: rgba(242, 232, 207, 1);
}

.logo-main-container img {
    margin-top: 50px;
    margin-bottom: 8px;
    width: 70%;
}

.logo-main-container p {
    font-weight: 700;
    padding: 0;
    margin: 0;
}

.loginarea-main {
}
.loginarea-main.before-login {
    margin-top: -60px;
}

.slogan-main {
    margin-top: 20px;
}

.ads-container-main {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;
    padding: 10px 20px;
  }
  
  .item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
    .item img {
        width: 80%;
        margin-bottom: 10px;
    }

  .item p {
    margin-top: 5px;
    font-size: 15px;
  }
  
  .ads-container-main img {
    max-width: 100%;
    height: auto;
  }


  .alert-message {
    position: relative;
    display: none;
    padding: 10px 20px;
    background-color: #f8d7da;
    color: #721c24;
    border: 1px solid #f5c6cb;
    border-radius: 4px;
    margin-bottom: 10px;
  }
  
  .alert-message p {
    margin: 0;
  }
  
  .alert-message-close {
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;
    color: #721c24;
    font-weight: bold;
    font-size: 18px;
    line-height: 1;
  }
  
  .alert-message-close:hover {
    color: #dc3545;
  }
  
  