/* @import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap'); */


.grid-container {
    display: grid;
    grid-template-columns: 0.5fr 1fr 0.6fr 1fr;
    grid-template-rows: 0.1fr 0.5fr 1fr 0.7fr 0.7fr;
    grid-template-areas:
        "provider provider provider provider";
    grid-gap: 10px;
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
    padding: 2%;
    height: auto;
    border-radius: 15px;
    background-color: #D7D3C1;
    overflow: hidden;
    grid-auto-flow: row;

}

.provider {
    grid-area: provider;
    /* padding: 0; */
}

.provider-wrapper {
    display: grid;
    grid-template-columns: 0.3fr 1fr;
    /* grid-template-rows: 0.2fr; */
    grid-gap: 15px;
    /* grid-template-rows: auto 1fr; */
    /* grid-template-areas:
        "picture title"; */
}

.provider-picture {
    grid-area: picture;
    grid-column: 1 / 2;
    align-self: center;
}
  
.provider-title {
    grid-area: title;
    grid-column: 2 / 3;
    align-self: center;
    border-radius: 12px;
    background-color: white;
}

.provider-title p {
    font-size: 40px;
    margin-left: 20px;
    margin-right: 20px;
}

.rating {
    margin-top: 10%;
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;

}


.level-wrapper {
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
}

.rating-label {
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 20px;
}

.rating-button {
    background-color: #98B66E;
    border: none;
    padding: 4%;
    font-size: 20px;
    width: 70px;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    font-weight:bold;
}

.review-category {
    display: flex;
    align-items: center;
    text-align: center;
    font-weight: bold;
    justify-content: center;
    font-size: 20px;
}

.review-grid {
    grid-column: span 3;
    grid-row: span 2;
    padding: 2%;
}

.review-grid {
    display: grid;
    grid-template-rows: 0.5fr 1fr;
    grid-template-columns: 0.7fr 2fr 0.7fr;
    background-color: white;
    grid-gap: 10px;
    grid-template-areas:
        "a1 a2 a3"
        "a4 a4 a4";
    text-align: center;
    margin: 2%;
    padding: 2%;
    height: auto;
    /* justify-content: center; */
    border-radius: 10px;
}


.user_info {
    grid-area: a1;
    background-color: #D7D3C1;
    margin-left: 2%;
    align-items: left;
    /* text-align: left; */
}

.time_stamp {
    background-color: #D7D3C1;
    grid-area: a3;
    align-items: right;
    text-align: right;
}

.user_review {
    background-color: white;
    grid-area: a4;
    padding-top: 1%;
    padding-bottom: 5%;
    padding-left: 2%;
    text-align: left;
    border-radius: 15px;

}


/* write reviews */
.write-review-grid {
    display: grid;
    grid-template-columns: 1fr 0.8fr 0.8fr;
    grid-template-rows: 0.5fr 1.5fr 1.6fr 0.4fr;
    grid-gap: 10px;
    margin-top: 10%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10%;
    padding: 2%;
    height: auto;
    border-radius: 15px;
    background-color: #D7D3C1;
    overflow: hidden;
}

.user-profile {
    grid-column: 1;
    grid-row: 1;
    margin: 2%;
    padding: 2%;
}

.time-stamp {
    grid-column: 3;
    grid-row: 1;
    margin: 2%;
    padding: 2%;
}

.write-review {
    grid-column: span 3;
    grid-row: 2;
    background-color: white;
    margin: 2%;
    padding: 2%;
}

.ratings {
    grid-row: 3;
    grid-column: span 3;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    align-items: center;
    margin-bottom: 10px;
}

.btn-submit-review {
    grid-row: 4;
    grid-column: 3;
    font-size: 25px;
    border-radius: 10px;
    padding: 2%;
    background-color: #98B66E;
    color: white;
}

.ratings {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
}

.review-section-1,
.review-section-2,
.review-section-3,
.review-section-4 {
    display: grid;
    grid-template-columns: 0.7fr 1fr;
    /* Two columns */
    grid-gap: 10px;
    justify-items: center;
    align-items: center;
}

.ratings .review-category {
    font-size: 25px;
    text-align: right;
    font-weight: bold;
}

.ratings .review-slider {
    height: 60px;
    display: flex;

    justify-content: right;
    align-items: center;
}
