.search-wrapper {
    padding: 30px 20px;
}
.search-bar {
    margin-bottom: 20px;
}

.filter-bar{
    margin-bottom: 20px;
    background-color: #F2E8CF;
    padding: 30px;
}

#applyFilters{
    width: 150px;
    margin: 10px;
}

#level, #provider, #sort {
  }

.filter-tags{
    background-color: rgb(198, 198, 198);
    color: black;
    padding: 5px;
    border-radius: 8px;
}

.display-result{
    font-weight: 800;
    font-size: 20px;
}

/* Add transition property to the button */
#applyFilters {
    transition: transform 0.3s ease;
  }
  
  /* Add hover effect to the button */
  #applyFilters:hover {
    transform: scale(1.1);
  }
  
  /* Add active effect to the button when clicked */
  #applyFilters:active {
    transform: scale(1.3);
  }

#searchicon:hover {
    transform: scale(1.1);
}

#searchicon:active {
    transform: scale(1.3);
}
