.slider {
  margin-top: 2%;
  width: auto;
  height: 34px;
  padding: 2%;
  /* background-color: #e0e0e0; */
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
}

.slider-box {
  height: 29px;
  float: left;
  border-radius: 2px;
}

.slider-box-1 {
  width: 19%;
  background-color: #f3f2ef;
  border: 1px solid #c0bebe;
}

.slider-box-2 {
  width: 19%;
  background-color: #f3f2ef;
  border-top: 1px solid #c0bebe;
  border-right: 1px solid #c0bebe;
  border-bottom: 1px solid #c0bebe;

}

.slider-box-3 {
  width: 19%;
  background-color: #f3f2ef;
  border-top: 1px solid #c0bebe;
  border-right: 1px solid #c0bebe;
  border-bottom: 1px solid #c0bebe;
}

.slider-box-4 {
  width: 19%;
  background-color: #f3f2ef;
  border-top: 1px solid #c0bebe;
  border-right: 1px solid #c0bebe;
  border-bottom: 1px solid #c0bebe;
}

.slider-box-5 {
  width: 19%;
  background-color: #f3f2ef;
  border-top: 1px solid #c0bebe;
  border-right: 1px solid #c0bebe;
  border-bottom: 1px solid #c0bebe;
}


.slider-box.active {
  background-color: #98B66E;
  border-color: white;
}
