<div class="CourseCard-StyledCourseCard">
    <div class="Coursecard-InfoRatingWrapper">

        <div class="CourseCard-NumRatingWrapper-syjs0d-2 joEEbw">
            <div class="CardNumRating-StyledCardNumRating">
                 
                 <div class="CardNumRating-CardNumRatingNumber">
                    <img  src="/image/udemy.png" alt="Image Description">

                 </div>
          
            </div>
        </div>
    
        <div class="CourseCard_CardInfo">
            <div class="Card-CourseName"><%= result.courseDetails.Title %></div>
            <div class="Card-CourseProvider"><b>Provider:</b> <%= result.courseDetails.Provider %></div>
            <div class="Card-CourseRatingCoursla"><b>Coursla Rating:</b> </div>
            <div class="Card-CourseRating"><b>Provider Rating:</b> <%= result.courseDetails.Course_Rating %></div>
            <div class="Card-CourseDifficulty"><b>Level:</b> <%= result.courseDetails.Course_Difficulty %></div>
            
        </div>
    </div>
</div>