<!-- Surprise! -->
<div id="confetti-wrapper" class="easter-egg easter-egg__bg ">
    <div class="easter-egg__close">
        <button type="button" id="easter-egg__close__button">
            <span class="material-symbols-outlined">
                close
            </span>
        </button>
    </div>
    <div class="easter-egg__content">
        <div class="easter-egg__outside__text1">
            <p>Surprise!<br>It's a secret to everybody.</p>
        </div>
        <div class="easter-egg__content__image">
            <img src="/image/rick-roll-rick-rolled.gif" alt="Surprise!">
        </div>
        <div class="easter-egg__text__wrapper">
            <div class="easter-egg__content__text">
                <p>Congratulations! 🥳<br>
                    You have written 5 reviews</p>
            </div>
            <div class="easter-egg__content__text sm">
                <p>
                    You've earned a special crown icon <span class="easter-crown lg"><img src="/image/crown.png" alt="5 reviews user"></span>
                    <br>for writing 5 reviews!
                </p>
            </div>
        </div>
    </div>
</div>

<script src="/js/confetti-rain.js"></script>
<script src="/js/easter-egg.js"></script>