<!-- Surprise! -->
<div id="confetti-wrapper" class="easter-egg easter-egg__bg ">
    <div class="easter-egg__content">
<!--        <a target="_blank" href="https://youtu.be/dQw4w9WgXcQ" class="easter-egg__content__image">-->
<!--            <img src="/image/rick-roll-rick-rolled.gif" alt="Surprise!">-->
<!--        </a>-->
        <div class="easter-egg__content__image">
            <img src="/image/rick-roll-rick-rolled.gif" alt="Surprise!">
        </div>
        <div class="easter-egg__text__wrapper">
            <div class="easter-egg__content__text">
                <p>Surprise!<br>It's a secret to everybody.</p>
            </div>
            <div class="easter-egg__content__text">
                <p>Congratulations! 🥳<br>
                    You have written 5 reviews</p>
            </div>
            <div class="easter-egg__content__text">
                <p>
                    You've earned
                    <br>a special crown icon <span class="easter-crown lg"><img src="/image/crown.png" alt="5 reviews user"></span>
                    <br>for writing 5 reviews!
                </p>
            </div>
        </div>
    </div>
    <div class="easter-egg__close">
        <a href="#" class="easter-egg__close__button">Close</a>
    </div>
</div>