<!DOCTYPE html>
<html lang="en">
<%- include("./head") %>
<body>
    <header class="fixed-top">
        <a href="/">
            <div class="logo">
              <img src="/image/coursla_main.png" alt="Logo">
            </div>
        </a>

        <%- include("./nav-beforeLogin") %>
  
      <div class="wrapper">