<nav class="navbar navbar-default fixed-top py-3 mb-4 border-bottom">
    <div class="container d-flex flex-wrap justify-content-center">
        <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
            <span class="fs-4">logo</span>
        </a>

        <div class="nav-links" id="navlinks">
            <img
              alt="closemenu"
              id="i1"
              src="/image/closemenu.png"
              onclick="hideMenu()"
            />
            <ul>
              <li><a href="#">Home</a></li>
              <li><a href="#">Profile</a></li>
              <li><a href="#">Bookmarks</a></li>
              <li><a href="#">My Reviews</a></li>
             
            </ul>
        </div>
          <img alt="menu" id="i2" src="/image/openmenu.png" onclick="showMenu()" />
    




    </div>
</nav>

<script>
    function showMenu() {
    var navLinks = document.getElementById("navlinks");
    navLinks.style.display = "inline-block";
    }

    function hideMenu() {
    var navLinks = document.getElementById("navlinks");
    navLinks.style.display = "none";
    }
</script>

