<div class="profile-avatar">
  <div class="avatar-img">
    <!-- default -->
    <img class="img-avatar" src="<%= avatar?.includes('/image/avatar.png') ? '/image/avatar.png' : avatar %>" alt="User profile"/>
  </div>
</div>