<link rel="stylesheet" href="/css/slider.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

<div class="slider" name="<%= type %>">
    <div class="slider-box slider-box-1 <% if (sliderValues.length > 0) { if (parseInt(sliderValues[0][type + 'SliderValue']) >= 1) { %>active<% } } %>"></div>
    <div class="slider-box slider-box-2 <% if (sliderValues.length > 0) { if (parseInt(sliderValues[0][type + 'SliderValue']) >= 2) { %>active<% } } %>"></div>
    <div class="slider-box slider-box-3 <% if (sliderValues.length > 0) { if (parseInt(sliderValues[0][type + 'SliderValue']) >= 3) { %>active<% } } %>"></div>
    <div class="slider-box slider-box-4 <% if (sliderValues.length > 0) { if (parseInt(sliderValues[0][type + 'SliderValue']) >= 4) { %>active<% } } %>"></div>
    <div class="slider-box slider-box-5 <% if (sliderValues.length > 0) { if (parseInt(sliderValues[0][type + 'SliderValue']) >= 5) { %>active<% } } %>"></div>
    <input type="hidden" name="<%= type %>SliderValue" value="<%= sliderValues.length > 0 ? sliderValues[0][type + 'SliderValue'] : '' %>" %>>
</div>
  